In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
encoder = LabelEncoder()
df['species'] = encoder.fit_transform(df['species'])

In [13]:
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width  species
68            6.2          2.2           4.5          1.5        1
103           6.3          2.9           5.6          1.8        2
93            5.0          2.3           3.3          1.0        1
11            4.8          3.4           1.6          0.2        0
69            5.6          2.5           3.9          1.1        1
109           7.2          3.6           6.1          2.5        2
126           6.2          2.8           4.8          1.8        2
1             4.9          3.0           1.4          0.2        0
71            6.1          2.8           4.0          1.3        1
98            5.1          2.5           3.0          1.1        1

In [17]:
df = df[['sepal_length', 'petal_length', 'species']]
X = df.iloc[:, 0:-1]
y = df.iloc[:, -1]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
clf = LogisticRegression(multi_class='multinomial')

In [23]:
clf.fit(X_train, y_train)
pred = clf.predict(X_test)

In [29]:
print(accuracy_score(y_test, pred))

1.0

In [33]:
print(pd.DataFrame(confusion_matrix(y_test, pred)))

    0  1   2
0  10  0   0
1   0  9   0
2   0  0  11

In [35]:
df.head()

   sepal_length  petal_length  species
0           5.1           1.4        0
1           4.9           1.4        0
2           4.7           1.3        0
3           4.6           1.5        0
4           5.0           1.4        0

In [41]:
random_query = np.array([[5.0, 1.4]])  # select a random query from the dataset to predict the probabilities
probability = clf.predict_proba(random_query)

C:\Users\12368\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [47]:
probability[0][0]

0.9715480293536869

In [49]:
np.sum(probability) # sum of probabilities is nearly equal to 1.

0.9999999999999999

In [ ]:
from mlxtend.plotting import plot_dec